.list-wrap {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow: scroll;
}

.list {
    margin: 2.5rem 0 0 0;
    width: 100%;
    text-align: left;

    th,
    td {
        min-width: 100px;
        padding: 0.65rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.025);
    }

    thead {

        th {
            color: $grey;
            font-size: 0.75rem;
            font-weight: 600;
        }
    }

    tbody {

        td {
            color: rgb(53, 63, 82);
            font-size: 0.875rem;
            font-weight: 500;
        }
    }
}
